*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(240, 243, 247, 1);
}
/* header-section */

header {
    background-color: rgba(255, 255, 255, 0.92);
    padding: 15px 0;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    position: relative ;
}

.headerInfo,
.headerLang,
.headerContact {
    display: flex;
    align-items: center;
}

.dropDown {
    display: none;
    transform: translateY(50px);
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropDown li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropDown li:hover {
    background-color: #f1f1f1
}

.headerLang:hover .dropDown {
    display: block;
}

.dropDown li:last-child {
    border: 1px solid rgba(234, 237, 240, 1);
}

.hederLang,
.headerContact {
    margin-left: 15px;
}

.headerLang p,
.headerContact p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.headerLang svg,
.headerContact svg {
    margin-right: 5px;
    width: 20px;
}

.headerLogo {
    display: flex;
    margin: 0 auto;
    max-width: 170px;
    position: absolute;
    top: -15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 20px 20px;
    border-right: 1px solid var(--greys-grey-4, #EAEDF0);
    border-bottom: 1px solid var(--greys-grey-4, #EAEDF0);
    border-left: 1px solid var(--greys-grey-4, #EAEDF0);
    background: #FFF;
    box-shadow: 0px 12px 36px 0px rgba(14, 17, 22, 0.10);
    transform: translateX(-145px);
}

.headerLogo svg {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.login {
    display: flex;
    align-items: center;
    background-color: rgba(234, 237, 240, 1);
    border: none;
    outline: none;
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 14px;
}

.login svg {
    margin-left: 5px;
}



/* Main section */
.mainSection{
    margin: 20px 0;
}

.pageList{
    margin: 32px 0;
    display: flex;
    align-items: center;
}
.pageList-inner{
    display: flex;
    align-items: center;

}
.pageList li{
    margin-right: 6px;
    color: var(--Black, #16191D);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    }
.pageList li:last-child{
    color: rgba(184, 187, 189, 1);
}

.mainSection-inner{
   display: flex;
   
}
.filterSection{
    width: 20%;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    padding: 16px ;
    margin-right: 60px;
    height: 100%;
}

.filterTitle{
    color: var(--Black, #16191D);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    margin-bottom: 16px;
}
.region p{
    color: var(--greys-grey-0, #63676C);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 6px;
}
.cityList{
    width: 100%;
    background-color: rgba(234, 237, 240, 1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid var(--greys-grey-4, #EAEDF0);
    background: var(--White, #FFF);
    outline: none;
}
.filterMenu label {
  display: block;
  margin: 10px 0;
  border-bottom: 1px solid rgba(234, 237, 240, 1);
  padding-bottom: 5px;
}
.filterMenu p{
    color: var(--greys-grey-0, #63676C);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    margin: 5px 0;
}
.filterMenu label input{
    color: var(--Black, #16191D);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
    margin: 10px 8px;
}
.priceFilter label{
    display: block;
    margin: 10px 0;
    border-bottom: 1px solid rgba(234, 237, 240, 1);
    padding-bottom: 5px ;
}
.priceFilter label input{
    margin: 10px 8px 10px 0;
    color: var(--Black, #16191D);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
.priceFilter p{
    color: rgb(143, 143, 143);
    font-size: 14px;
}
.btn{
    width: 246px;
    padding: 11px 28px 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Main-blue, #388FF3);
    border: none;
    outline: none;
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.filterBtn{
    text-align: center;
    margin: 16px 0;
}

input[type=checkbox], input[type=radio] {
    accent-color: #388FF3;
  }

  /* product section */
.productSection{
    width: 100%;
    max-width: 882px;
}
.productSection h1{
    color: var(--Black, #16191D);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.searchInput {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 8px;
    border: 1px solid var(--greys-grey-4, #EAEDF0);
    background: var(--White, #FFF);
    padding: 10px;
    width: 100%;
    max-width: 798px;
}
.searchInput input{
    width: 100%;
    padding: 5px 0 5px 5px;
    border: none;
    outline: none;
    font-size: 16px;
    text-transform: capitalize;
}
.productSearch{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.searchInput img{
    position: absolute;
    left: 0;
    z-index: 2;
    width: 15px;
    top: 30%;
    left: 2%;
}
.searchFormat{
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 16px;
}
.searchFormat span {
    width: 100%;
    max-width: 28px;
    margin-right: 10px;
}
.fa-filter{
    display: none;
 }
 .fa-filter::before{
    display: none;
 }


.productList{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}
.productBox{
    width: 30%;
    margin-left: 28px;
    background-color: rgba(255, 255, 255, 0.92);
    margin-bottom: 24px;
    border-radius: 10px;
    border: 2px solid var(--White, #FFF);
    background: var(--White, #FFF);
}
.productBox img{
    width: 100%;
    border-radius: 10px;
}
.productContent{
    padding: 20px
}
.city{
    color: var(--greys-grey-0, #63676C);
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    border-radius: 6px;
    background: var(--greys-grey-4, #EAEDF0);
    padding: 4px 8px;
    margin-bottom: 16px;

 
}
.productListSection p{
    color: var(--greys-grey-1, #8E9297);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 16px 0;
}
.productName{
    color: var(--Black, #16191D);
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
}
.tel{
    margin: 8px 0;
    color: var(--greys-grey-1, #8E9297);
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}
.price{
    color: var(--Black, #16191D);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
}
.price span{
    color: var(--Main-blue, #388FF3);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.active{
    width: 100%;
}
.active a{
   width: 100%;
   display: flex;
   cursor: pointer;
}
.active a .productImg{
    width: 15%;
    display: flex;
    align-items: center;
}
.active a .productImg img{
    width: 100%;
}
.active a .productContent-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.active a .productContent{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}
.active a .productContent-inner .productName{
    color: var(--Black, #16191D);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.active a .productContent-inner .city{
    color: var(--greys-grey-0, #63676C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    border-radius: 6px;
    background: var(--greys-grey-4, #EAEDF0);
padding: 4px 8px;
}
.active a .productContent-inner .price{
    color: var(--Black, #16191D);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
}
.active a .productContent-inner .price span{
    color: var(--Main-blue, #388FF3);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.active a .productContent-inner .tel{
    color: var(--greys-grey-1, #8E9297);
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
}

/* footer-section */

/* footer-section */
footer {
    width: 100%;
    background-image: url(/images/Elements.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.footer-inner {
    text-align: center;
}

.footerLogo svg {
    width: 100%;
    max-width: 122px;
    height: 100%;
    max-height: 64px;
    position: relative;
    left: 0%;
    top: -40px;
}

.footerContent {
    text-align: center;
}

.footerAbout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerAbout1 {
    width: 30%;
    display: flex;
    align-items: center;
    margin-top: 17px;
}
.footerTitle {
    color: #000;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
}

.noResult{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.noResult img{
    width: 20%;
    margin: 0 auto;
}

@media screen and (max-width: 1142px) {
    .search input{
        right: 30%;
    }
    .search button{
        right: 30.5%;
    }
}
@media screen and (max-width: 1024px) {
    .fa-filter::before{
        display: inline;
    }
    .filterSection{
        width: 50%;
        margin: 0 auto;
        display: none;
        position: fixed;
        z-index: 2;
        height: 100%;
        top: 10%;
        max-height: 750px;
    }
    .productSection{
        width: 90%;
    }
    .container{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
       
    }
    .mainSection-inner{
       display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
     }
     .container{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
     }

}
@media  screen and (max-width: 988px) {
    .search input{
        right: 28%
    }
    .search button{
        right: 28.5%;
    }
    .container{
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 784px) {
   
}
@media  screen and (max-width: 769px) {
    .search input{
        right: 23%
    }
    .productName, .productContent .price {
        font-size: 16px;
    }
    .productContent .city{
        font-size: 10px;
    }
    .productContent .tel{
        font-size: 12px;
    }

    .search button{
        right: 23.5%;
    }
    .container{
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
    }
    
}
@media  screen and (max-width: 685px) {
    .search input{
        right: 19%
    }
    .search button{
        right: 19.5%;
    }
    .headerLogo{
        width: 100%;
        max-width: 116px;
        top: 0%;
        border-radius: 20px;
        padding: 12px 12px;
    }
    .headerLogo svg{
        width: 100%;
        max-width: 92px;
    }
    .container{
        width: 100%;
        max-width: 670px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 665px) {
    .container{
        width: 100%;
        max-width: 645px;
    }
}
@media screen and (max-width: 600px) {
    .header{
        padding: 0;
    }
    .container{
        width: 100%;
        max-width: 575px;
        margin: 0 auto;
    }
    .headerLang p{
        font-size: 10px;
    }
    .headerLang img{
        width: 70%;
    }
    .headerContact p{
        font-size: 10px;
    }
    .headerContact img{
        width: 10%;
    }
    .headerLogin button{
        font-size: 10px;
    }
    .login img{
       width: 30%;
    }
    .search input{
        max-width: 300px;
    }
    .search button{
        padding: 6px 15px;
        top: 105px;
        right: 20%;
    }
    .container{
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    .productBox{
        width: 45%;
    }
    .active{
        width: 100%;
    }
    .active {
        display: flex;
        align-items: center;

    }
    .active .productImg img{
       width: 100%;
       transform: translateY(15px);
    }
}   

@media screen and (max-width: 481px) {
    .searchInput {
        display: none;
    }
    .productSearch{
       justify-content: right;
        width: 90%;
    }
    .container{
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
    .productSection h1{
        font-size: 25px;
        margin-top: 25px;
    }
    .headerContact{
        display: none;
    }
    .pageList{
        display: none;
    }
    .productContent{
        padding: 8px;
    }
    .productContent-inner .productName{
        font-size: 14px;
    }
    .productContent-inner .city{
        font-size: 10px;
    }
    .productContent-inner .price{
        font-size: 14px;
    }
    .productContent-inner .tel{
        font-size: 12px;
    }
    .active a .productContent, .active a .productImg{
        width: 70%;
    }
    .active a .productImg{
        width: 30%;
    }
    .active a .productImg img{
        width: 100%;
    }
    .active a .productContent{
        display: block;
    }
    .active a .productContent-inner{
        display: block;
    }
    .active a .productContent-inner .city{
        font-size: 10px;
        margin: 0 0 5px 0;
    }
    .active a .productContent-inner .productName{
        font-size: 14px;
        margin: 0 0 5px 0;
    }
    .active a .productContent-inner .tel{
        font-size: 12px;
        margin: 0 0 5px 0;
    }
    .active a .productContent-inner .price{
        font-size: 14px;
        margin: 0 0 5px 0;
    }
}
@media screen and (max-width: 447px) {
    .headerContact{
        display: none;
    }
    .footerAbout{
        display: flex;
        flex-wrap: wrap;
    }
    .footerLogo svg{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 20px
    }
    .footerAbout1{
        width: 50%;
    }
    .filterSection{
        width: 100%;
    }
    .footerLogo svg{
        left: 39%;
        top: 5%;
    }
}
@media screen and (max-width: 399px){
    .filterSection{
        width: 100%;
        max-width: 380px;
        top: 0%;

    }
    .headerLogo{
        transform: translateX(-50px);
    }
    .footerAbout{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerAbout1{
       display: inline-block;
    }
    .headerLogin button{
        padding: 4px 8px;
    }
    .search input{
        right: 10%;
    }
    .search button{
        right: 12%;
    }
    .container{
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
    }
    .footerAbout{
        justify-content: center;
    }
    .footerAbout1{
        font-size: 12px;
        width: 100%;
    }
    .footerLogo svg{
        width: 25%;
        top: 10%;
        left: 38%;
    }
}