* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(240, 243, 247, 1);
    position: relative;

}

/* header-section */

header {
    background-color: rgba(255, 255, 255, 0.92);
    position: relative;
    padding: 15px 0;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerInfo,
.headerLang,
.headerContact {
    display: flex;
    align-items: center;
}

.dropDown {
    display: none;
    transform: translateY(50px);
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropDown li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropDown li:hover {
    background-color: #f1f1f1
}

.headerLang:hover .dropDown {
    display: block;
}

.dropDown li:last-child {
    border: 1px solid rgba(234, 237, 240, 1);
}

.hederLang,
.headerContact {
    margin-left: 15px;
}

.headerLang p,
.headerContact p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.headerLang svg,
.headerContact svg {
    margin-right: 5px;
    width: 20px;
}

.headerLogo {
    display: flex;
    margin: 0 auto;
    max-width: 170px;
    position: absolute;
    top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 20px 20px;
    border-right: 1px solid var(--greys-grey-4, #EAEDF0);
    border-bottom: 1px solid var(--greys-grey-4, #EAEDF0);
    border-left: 1px solid var(--greys-grey-4, #EAEDF0);
    background: #FFF;
    box-shadow: 0px 12px 36px 0px rgba(14, 17, 22, 0.10);
    transform: translateX(-145px);
}

.headerLogo svg {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.headerLogin {
    display: flex;
    justify-content: right;
}

.login {
    display: flex;
    align-items: center;
    background-color: rgba(234, 237, 240, 1);
    border: none;
    outline: none;
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 14px;
}

.login svg {
    margin-left: 5px;
}

/* category-section */
.category {
    width: 100%;
    background-color: white;
    margin-top: 50px;
    padding-top: 10px;
    display: flex;
}

.search {
    width: 100%;
    max-width: 580px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid var(--greys-grey-4, #EAEDF0);
    background: var(--White, #FFF);
}

.search svg {
    margin-left: 10px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.search input {
    width: 100%;
    font-size: 16px;
    outline: none;
    padding: 10px 0;
    border: none;
}

.search input::placeholder {
    color: var(--greys-grey-2, #B8BBBD);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.search a {
    padding: 12px 28px;
    text-decoration: none;
    transform: translateX(2px);
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 0px 8px;
    gap: 8px;
    flex-shrink: 0;
}

.categoryTitle {
    text-align: center;
    margin-top: 50px;
}

.categoryTitle h1 {
    color: #16191D;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.categoryTitle p {
    color: var(--greys-grey-1, #8E9297);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

.categoryMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.categorySection {
    width: 30%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 1px rgba(142, 146, 151, 1);
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px 0;
    position: relative;
    margin: 12px 0;
}

.categorySection-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categorySection ul {
    display: block;
    transform: translate(0px, 40px);
    bottom: -30px;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    border: 1px solid rgba(142, 146, 151, 1);
    box-shadow: 0px 0px 1px rgba(234, 237, 240, 1);
    padding: 10px 20px;
    width: 100% !important;

}

.hidden {
    display: none !important;
}

.categoryLogo {
    display: flex;
    justify-items: center;
    position: absolute;
    left: -5%;
}

.categoryLogo img {
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(142, 146, 151, 1);
    padding: 15px 15px;
    border-radius: 10px;
}

.categoryContent {
    margin-left: 50px;
}

.categoryContent h3 {
    color: var(--Black, #16191D);
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.categoryContent p {
    color: var(--greys-grey-1, #8E9297);
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: -webkit-box;
    margin-top: 4px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* ads-section */
.ads {
    background-color: rgba(234, 237, 240, 1);
    padding: 15px 0;
}

.ads-title {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 40px;
}

.ads-title h3 {
    color: var(--Black, #16191D);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ads-title p {
    color: var(--greys-grey-1, #8E9297);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

.ads-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ads-card {
    width: 100%;
    max-width: 278px;
    border-radius: 12px;
    border: 1px solid var(--White, #FFF);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 15px 0px rgba(56, 143, 243, 0.12);
    margin: 24px 0;
    display: none;
}

.ads-card:hover .ads-productName {
    color: var(--Main-blue, #388FF3);
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.ads-card:nth-child(1),
.ads-card:nth-child(2),
.ads-card:nth-child(3),
.ads-card:nth-child(4) {
    display: block;
}

.ads-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 100%;
    max-height: 240px;
    max-height: 200px;
    object-fit: cover;

    flex-shrink: 0;
}

.adsContent {
    padding: 20px;
}

.adsCity {
    border-radius: 6px;
    background: var(--greys-grey-4, #EAEDF0);
    padding: 4px 8px;
    color: var(--greys-grey-0, #63676C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.ads-productName {
    color: var(--Black, #16191D);
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 16px;
}

.adsNum {
    color: var(--greys-grey-1, #8E9297);
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 8px 0;
}

.ads-productPrice {
    color: var(--Black, #16191D);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.ads-productPrice span {
    color: var(--Main-blue, #388FF3);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-left: 8px;
}

.readMore {
    color: var(--Black, #16191D);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 2px solid rgba(214, 214, 214, 0.50);
    background: var(--greys-grey-4, #EAEDF0);
    padding: 11px 28px;
}

.readMore-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

/* footer-section */
footer {
    width: 100%;
    background-image: url(/images/Elements.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.footer-inner {
    text-align: center;
}

.footerLogo svg {
    width: 100%;
    max-width: 122px;
    height: 100%;
    max-height: 64px;
    position: relative;
    left: 0%;
    top: -40px;
}

.footerContent {
    text-align: center;
}

.footerAbout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerAbout1 {
    width: 30%;
    display: flex;
    align-items: center;
    margin-top: 17px;
}

.footerTitle {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/* User login section */
.register {
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    height: 100%;
    display: none;
}

.registerCard {
    position: relative;
    top: 20%;
    width: 100%;
    max-width: 379px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

.registerCard-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registerCard-title h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.registerCard-title i {
    font-size: 20px;
}

.registerCard p,
.createAccount p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: #8E9297;
    margin: 10px 0;
}

.registerCard form label,
.registerCard form a {
    display: block;
    margin: 5px 0;
}

.registerCard form {
    margin-bottom: 60px;
}

.registerCard form label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #63676C;
    margin-top: 16px;
}

.registerCard form input {
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(240, 243, 247);
    outline: none;

}

.registerCard form input::placeholder {
    text-transform: inherit;
    color: #B8BBBD;
    font-size: 14px;
}

.registerCard form a {
    color: #388FF3;
    margin: 8px 0;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.registerCard-btn button {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border: transparent;
    border-radius: 8px;
}

.registerCard-btn .loginActive {
    background-color: #388FF3;
    color: white;
}

.registerCard-btn .logon {
    color: #388FF3;
    background-color: white;
    border: 1px solid #388FF3;
}

.registerCard-btn p {
    font-size: 12px;
    color: #8E9297;
    font-weight: 400;
    text-align: center;
    position: relative;
}
.passwordValue{
    display: flex;
    align-items: center;
    padding-right: 5px;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(240, 243, 247);
    outline: none;
}
.passwordValue svg{
    width: 100%;
   max-width: 24px;
}
.valueError { 
    border: 1px solid red !important;
}
.registerCard-btn p::before {
    content: "";
    display: block;
    width: 95px;
    height: 1px;
    background: #EAEDF0;
    left: 0;
    top: 50%;
    position: absolute;

}

.registerCard-btn p::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 95px;
    height: 1px;
    background: #EAEDF0;
    right: 0;
    top: 50%;
    position: absolute;
}

.createAccount {
    width: 100%;
    max-width: 379px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

.createAccount form label {
    display: block;
}

.createAccount form input {
    width: 100%;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(240, 243, 247);
    outline: none;
}

.createAccount form label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #63676C;
    margin-top: 16px;
}

.createAccount form select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(240, 243, 247);
    border: none;
}

.phone-input {
    border-radius: 8px;
    background: var(--greys-grey-bg, #F0F3F7);
    display: flex;
    align-items: center;
}

.phone-input span {
    font-size: 14px;
    margin-left: 10px;
}

.phone-input input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 0;
}

.createAccount form {
    margin-bottom: 40px;
}

.createCard-btn p {
    font-size: 12px;
    color: #8E9297;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.createCard-btn p::before {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: #EAEDF0;
    left: 0;
    top: 50%;
    position: absolute;

}

.createCard-btn p::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 40px;
    height: 1px;
    background: #EAEDF0;
    right: 0;
    top: 50%;
    position: absolute;
}

.createCard-btn .loginActive {
    background-color: #388FF3;
    color: white;
    width: 100%;
    padding: 16px;
    border: transparent;
    border-radius: 8px;
    font-size: 16px;
}

.createCard-btn .logon {
    width: 100%;
    color: #388FF3;
    background-color: white;
    border: 1px solid #388FF3;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
}

.createAccount {
    display: none;
}

.historyList{
  background-color: rgba(0, 0, 0, 0.111);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}
.historyList ul{
    border-radius: 12px;
    padding: 16px ;
    background: var(--White, #FFF);
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    margin-top: 8px;
    height: 100%;
    max-height: 240px;
    position: fixed;
    top: 26%;
}
.historyList ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Black, #16191D);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    border-bottom: 1px solid rgba(229, 228, 228, 0.406);
    padding-bottom: 5px;
}


@media screen and (max-width: 1142px) {
    .search input {
        right: 30%;
    }

    .search a {
        right: 30.5%;
    }
}

@media screen and (max-width: 988px) {
    .search a {
        right: 30.5%
    }

    .search button {
        right: 28.5%;
    }

    .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 934px) {
    .search a {
        right: 26%;
    }

    .search input {
        right: 26%;
    }
}

@media screen and (max-width: 769px) {
    .search input {
        right: 23%
    }

    .search a {
        right: 23.5%;
    }
}

@media screen and (max-width: 688px) {
    .search input {
        right: 19%
    }

    .search a {
        right: 19.5%;
    }
    .headerContact{
        display: none;
    }
    .headerLogo{
        transform: translateX(-30px);
        width: 100%;
        max-width: 90px;
        padding: 0px 10px;
    }
    .headerLogo svg {
        width: 100%;
    }
    .headerLogin button{
        padding: 5px 10px;
    }
    .ads-inner {
        margin: 0 10px;
    }

    .ads-card {
        width: 30%;
    }
}

@media screen and (max-width: 665px) {
    .categoryContent h3 {
        font-size: 12px;
    }

    .categoryContent p {
        font-size: 10px;
    }

    .categorySection {
        margin: 8px 10px;
    }

    .categoryLogo {
        width: 40px;
    }

    .categoryLogo img {
        width: 100%;
    }

    .categorySection {
        padding: 12px 0;
    }
}

@media screen and (max-width: 600px) {
    .categorySection {
        width: 40%;
        margin: 10px 20px;
    }

    .header {
        padding: 0;
    }

    .headerLang p {
        font-size: 10px;
    }

    .headerLang svg {
        width: 70%;
    }

    .headerContact p {
        font-size: 10px;
    }

    .headerContact img {
        width: 10%;
    }

    .headerLogin button {
        font-size: 10px;
    }

    .login svg {
        width: 30%;
    }

    .categoryTitle p,
    .ads-title p {
        font-size: 12px;
    }

    .categoryTitle h1,
    .ads-title h3 {
        font-size: 20px;
    }

    .ads-productName {
        font-size: 14px;
    }

    .adsNum {
        font-size: 10px;
    }

    .ads-productPrice {
        font-size: 14px;
    }

    .search input {
        max-width: 300px;
    }

    .search button {
        padding: 6px 15px;
        top: 105px;
        right: 20%;
    }

    .ads-productName {
        font-size: 16px;
    }

    .categoryContent p {
        font-size: 13px;
    }

    .categoryLogo img {
        width: 45px;
    }

    .adsContent {
        padding: 8px;
    }

    .adsContent .adsCity {
        font-size: 10px;
    }

    .ads-card:hover .ads-productName {
        font-size: 16px;
    }

    .readMore {
        font-size: 12px;
        padding: 8px 12px;
    }

    .readMore svg {
        width: 15px;
    }
}

@media screen and (max-width: 447px) {
    .headerContact {
        display: none;
    }

    .ads-card {
        width: 45%;
    }

    .ads-card img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 100%;
        max-height: 100px;
        object-fit: cover;

    }

    
}

@media screen and (max-width: 399px) {
    .search input {
        right: 10%;
    }

    .search a {
        right: 12%;
    }

    .container {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
    }

    .categorySection {
        width: 100%;
    }

    .ads-card {
        width: 45%;
    }

    .footerAbout {
        justify-content: center;
    }

    .footerAbout1 {
        font-size: 12px;
        width: 100%;
    }

    .footerLogo svg {
        width: 20%;
        top: -20px;
    }

}